:root {
  --clr-black: #212121;
}

body {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--clr-black);
}
