.c-header {
  display: flex;
  background-color: var(--clr-black);
  padding: 12px 20px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: unset;
    list-style: none;
    align-items: center;
  }

  &-logo {
    display: inline-flex;
    width: fit-content;
  }

  &-link {
    color: white;
    text-decoration: none;

    &.active {
      border-bottom: 2px solid rgb(247, 37, 72);
    }
  }
}
